html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* mulish-regular - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/mulish-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/mulish-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-900 - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/mulish-v7-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/mulish-v7-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* goudy-bookletter-1911-regular - latin */
@font-face {
  font-family: 'Goudy Bookletter 1911';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/goudy-bookletter-1911-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/goudy-bookletter-1911-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}
body {background-color: #fff;
       }
.header {  
          font-family: Mulish;
font-style: normal;
font-weight: bold;
background-color: #fff;
          }
.wrapper  {
  max-width: 1060px;
  margin: 0 auto;
}
.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 23px;
}
.header-list {
   display: flex;
  flex-wrap: wrap;
  
}
#sale {color: red;}
.header-item {margin-right: 32px;}
.header-item:last-child{
  margin-right: 0;
}
.header-link {
  /*font-size: 21px;
line-height: 26px;*/
color: #202020;
text-decoration: none;

}

.header-link:hover, .header-link:focus, .header-link:active{
  opacity: .75;
}
.photo-main { width: 659px; 
              height: 524px;}
.container-main {display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  
}
.main-item {}
.main-margin {position: absolute;
  margin-left: 690px;}
.main-p { 
  font-family: 'Goudy Bookletter 1911';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  }

  .main-p-lenght {
 font-family: Mulish;
font-style: normal;
font-weight: bold;
  
  margin-top: 150px;}
.button-main { 
 
  margin-top: 180px;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 16px;
 font-family: Mulish;
font-style: normal;
font-weight: bold;
}
.main-img-button {margin-left: 200px;}
.main-price {font-family: Mulish;
font-style: normal;
font-weight: 700;
color: red;
font-size: 36px;

  margin-top: 250px;
}
.small-main {
  font-family: Mulish;
font-style: normal;
font-weight: 400;
position: absolute;
margin-left: 816px;
  margin-top: 250px;
}

.main-button-plus-minus {
  position: absolute;
  background-color: #fff;
  width: 44px;
  margin-top: 320px;
  height: 48px;
  border-width: 1px;
border-style: solid;
font-family: Mulish;
font-style: normal;
font-weight: 700;
}
.main-button-minus {
  margin-left: 690px;
  border-radius: 5px 0 0 5px;
}
.main-button-plus {
  margin-left: 795px;
  border-radius: 0 5px 5px 0;
}
.main-count-product {
  position: absolute;
  width: 63px;
  height: 48px;
  margin-left: 734px;
  margin-top: 320px;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  font-family: Mulish;
font-style: normal;
font-weight: 400;
}
.main-counter-p {
margin-top: 15px;
}
.main-add-cart {
  position: absolute;
  background-color: #CC0000;
  width: 220px;
  height: 48px;
  margin-top: 320px;
  margin-left: 850px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: red;
  color: #fff;
  font-family: Mulish;
font-style: normal;
font-weight: 700;
}
.main-description {position: absolute;
  margin-top: 430px;
  font-family: Mulish;
font-style: normal;
font-weight: 400;
font-size: 16px;
margin-left: 690px;
}
.main-description-h {margin-top: 400px;
  font-family: Mulish;
font-style: normal;
font-weight: 700;
font-size: 16px;}

.main-underphoto1 {position: absolute;
  
margin-top: 530px;}
.main-underphoto2 {position: absolute;margin-left: 80px;
margin-top: 530px;}
.main-underphoto3 {position: absolute;margin-left: 160px;
margin-top: 530px;}
.black-column { height: 524px; 
width: 48px;
background: rgba(32, 32, 32, 0.15);
box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.13);
position: absolute;
}
.column2 {
  margin-left: 611px;
}
.main-photo-left {
  margin-top: 238px;
  margin-left: 15px;
}
.main-photo-right {
  margin-top: 238px;
  margin-left: 15px;
}
.centre-p {
  text-align: center;
  margin-top: 232px;
}
.centre-price {
  font-family: Mulish;
font-style: normal;
font-weight: 400;
margin-left: 623px;
margin-top: 24px;
display: flex;
justify-content: space-between;
max-width: 121px;
}
.item-centre:last-child{ opacity: .50; }